
@import "colors.css";



/* ------------------- BUTTON ------------------- */

.button
{
    -fx-background-color: -col3;
    -fx-background-radius: 10 10 10 10;
    -fx-text-fill: -col4;

}

.button:hover
{
    -fx-background-color: #939c9c;
    -fx-background-radius: 10 10 10 10;
}


/* ------------------- TEXT FIELD ------------------- */
.text-field {
    /*-fx-accent: -fx-primary-color;*/
    -fx-background-insets: 0, 0 0 1 0;
    -fx-background-radius: 0;
    -fx-text-fill: -col4;
    -fx-prompt-text-fill: -col3;
    -fx-background-color: -col3, -col1;
}
.text-field:focused {
    -fx-background-color: -col4, -col1;
}

/* ------------------- LABEL ------------------- */
.label{
    -fx-text-fill: -col4;
    -fx-padding: 5 4 0 3;
}

.text{
    -fx-text-fill: -col4;
    -fx-padding: 5 4 0 3;
}


/* ------------------- CHOICE BOX ------------------- */
.choice-box{
    -fx-background-color: -col3;
    -fx-border-color: -col3;
    -fx-text-fill: -col4;
    -fx-animated: true;
}

.choice-box > *.combo-box{
    -fx-background-color: -col2;
}

.choice-box > *{
    -fx-background-color: -col2;
}

.choice-box .context-menu {
    -fx-background-color: -col2;
    -fx-border-color: -col3;
    -fx-border-width: 4;
}

.choice-box .menu-item:focused {
    -fx-background-color: -col3;
}



/* ------------------- DATE PICKER ------------------- */
.date-picker {
    -fx-background-color: -col3, -col1;
}
.date-picker .arrow-button {
	-fx-background-color: -col1;
	-fx-background-radius: 0;
}
.date-picker .arrow-button:hover {
	-fx-background-color: -col2;
}
.date-picker .arrow-button .arrow {
	-fx-background-color: -col4;
}
.date-picker .cell {
	-fx-background-color: white;
}
.date-picker .cell:hover {
	-fx-background-color: -col3;
}
.date-picker .cell:focused {
	-fx-background-color: -col3;
}
.date-picker .selected {
	-fx-background-color: -col1;
	-fx-text-fill: white;
}
.date-picker .selected:focused {
	-fx-background-color: -col1;
	-fx-text-fill: white;
}
.date-picker-popup  {
	-fx-border-color: transparent;
}
.date-picker-popup .month-year-pane {
	-fx-background-color: -col1;
}
.date-picker-popup .month-year-pane .label {
	-fx-text-fill: white;
}
.date-picker-popup .week-number-cell {
	-fx-text-fill: -col2;
}
.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow {
	-fx-background-color: white;
}

